@font-face {
	font-family: 'Archangelsk';
	src: url('./../fonts/Archangelsk.ttf') format('truetype');
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 0.833333vw;
}

body {
	margin: 0 auto;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

/* title */
.header-text,
.description-title,
.raffle-title {
	font-size: 3.875rem;
	font-family: 'Archangelsk', sans-serif;
}

/*  */

/* nav */
.nav {
	display: flex;
	justify-content: space-between;

}

.logo {
	margin-top: 1.25rem;
	margin-left: 20rem;
}

.logo img {
	width: 18.5rem;
	height: 4.6rem;
}

.menu {
	margin-top: 1.88rem;
	margin-right: 20rem;
}

.menu img {
	width: 1.875rem;
	height: 1.875rem;
}

.menu>a:not(:last-child) {
	padding-right: 2.5rem;
}

/* header */

.header {
	width: 120rem;
	height: 62.5rem;

	background: url('./../img/nav/backgound.jpg') lightgray 50% / cover no-repeat;
}

.yellow-block {
	width: 39rem;
	height: 23.0625rem;
	margin-top: 33.5rem;
	margin-left: 61rem;
	background-color: #F8F200;
	clip-path: polygon(15% 0, 100% 0, 100% 85%, 85% 100%, 0 100%, 0 15%);
}

.header-text {
	padding: 4.38rem 4.38rem 1.56rem 4.38rem;
}

.header-button {
	width: 16.875rem;
	height: 4.875rem;
	margin-left: 4.38rem;
	background: #000;

	color: #F8F200;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 2.5rem;
}

/* main */


/* description gallery */
.description-game {
	margin: 4.38rem 20rem;
}

.description-text {
	margin: 1.56rem 0 4.38rem 0;

	color: #777777;
	font-size: 1.125rem;
	font-weight: 700;
	line-height: 2.125rem;
}

.blue {
	color: #52BEDC;
}

.gallery {
	display: grid;
	grid-template-columns: 28.75rem 1fr;
	grid-template-rows: auto;
	grid-gap: 2rem;

	width: 80rem;
}

.gallery-img-1 {
	grid-column: 1;
	width: 28.75rem;
}

.gallery-img-2 {
	grid-column: 1;
	width: 28.75rem;
}

.gallery-img-3 {
	grid-column: 2/3;
	grid-row: 1/3;
	width: 100%;
}

/* line block */
.line-block {
	width: 120rem;
	height: 4.375rem;
	background-image: url('./../img/description-game/line-block.png');
}

/* raffle */
.raffle {
	width: 120rem;
	height: 50.875rem;
	margin-top: -1rem;

	padding: 0.94rem 20rem 4.38rem 20rem;
	background: #000;
	color: #FFF;
}

.raffle-title-block {
	display: flex;
	justify-content: start;
}

/* raffle star */
.raffle-star {
	width: 8.25rem;
	height: 8.25rem;

	background-image: url('./../img/raffle/star.svg');
	background-size: cover;
	background-repeat: no-repeat;
}

.raffle-star-text {
	padding-top: 2.5rem;
	padding-right: 2.5rem;

	color: #F8F200;
	font-size: 1.875rem;
	font-family: 'Archangelsk', sans-serif;
	transform: rotate(-45deg);
	text-align: center;
}

.raffle-title {
	margin-left: 2rem;
	margin-top: 4.38rem;
}

.raffle-text {
	margin-top: 2.44rem;
	font-size: 1.125rem;
	line-height: 2.125rem;
}

.raffle-wrapper {
	display: flex;
	justify-content: start;
}

/* raffle form  */
.form-wrap {
	display: flex;
	flex-direction: column;
	margin-top: 4rem;
}

.border-bottom {
	border-bottom: 1px solid #777777;
}

.name-input,
.email-input {
	width: 28.75rem;
	height: 2.31rem;
	margin-top: 2.19rem;
	background-color: #000;
	border: none;
}

::placeholder {
	font-size: 1.125rem;
	font-weight: 300;
}


.file-label {
	width: 28.75rem;
	height: 7.5rem;
	margin: 2.19rem 0;
	border: 1px dashed #777;
}

.file-label-title,
.file-label-text {
	display: block;
	text-align: center;
	font-weight: 300;
}

.file-label-title {
	margin-top: 2.44rem;
	margin-bottom: 0.44rem;
	font-size: 1.125rem;
	text-decoration-line: underline;
}

.file-label-text {
	font-size: 0.75rem;
}

.file-input {
	opacity: 0;
}

.submit {
	width: 12rem;
	height: 3.6875rem;
	margin-bottom: 0.94rem;
	background: #F8F200;
	color: #000;
	font-size: 1.125rem;
	font-weight: 700;
}

.checkbox-custom {
	font-size: 0.75rem;
	font-weight: 300;
}

/* checkbox */

.checkbox-custom input[type="checkbox"] {
	display: none;
}

.checkbox-custom label {
	position: relative;
	padding-left: 2rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	height: 1.8rem;
}

.checkbox-custom label:before {
	content: url('/img/raffle/check.svg');
	position: absolute;
	top: 0;
	left: 0;
	width: 1.25rem;
	height: 1.25rem;
	border: 2px solid #000;
}

.checkbox-custom label:after {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	background-color: #000;
	border-radius: 2px;
	opacity: 0;
	transform: scale(0);
	transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.checkbox-custom input[type="checkbox"]:checked+label:after {
	opacity: 1;
	transform: scale(1);
}

/* raffle-images */
.raffle-images {
	display: flex;
	justify-content: start;
}

.raffle-images img {
	width: 18.5rem;
	height: 21.9rem;
	margin-top: 3.12rem;
}

.Xbox-img {
	width: 28.75rem;
	height: 28.5rem;
	background: url('./../img/raffle/Layer-1.png');
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 3;
}

.Xbox-img img {
	margin-left: 8.25rem;
}

.PlayStation-img {
	margin-left: -8rem;
	width: 28.75rem;
	height: 28.5rem;
	background: url('./../img/raffle/Layer-2.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.PlayStation-img img {
	margin-left: 8rem;
}

/* line-block */
.line-block-raffle {
	width: 120rem;
	height: 4.375rem;
	margin-top: -1rem;
	background: url('./../img/raffle/line.png') lightgray 50% / cover no-repeat;
}

/* hp block */

.hp-block {
	display: flex;
	width: 120rem;
	height: 42.25rem;
	padding: 4.4rem 20rem;
	background: #F8F200;
}

.hp-tv img {
	width: 39rem;
	height: 26.875rem;
}

.hp-logo-row {
	display: flex;
	justify-content: space-around;
	width: 39rem;
	margin-top: 1.62rem;
}

.logo-hp {
	width: 5rem;
	height: 5rem;
}

.x {
	height: 1.19894rem;
	width: 5.625rem;
	margin-top: 2rem;
}

.logo-cyberpunk {
	width: 20rem;
	height: 5rem;
}

.description-hp {
	margin-left: 2rem;
}

.description-hp-title {
	margin-bottom: 1.56rem;
	font-size: 3.875rem;
	font-weight: 400;
	font-family: 'Archangelsk', sans-serif;
}

.description-hp-text {
	margin-bottom: 1.56rem;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 2.125rem;
}

.hp-features {
	display: flex;
	justify-content: start;
	margin-bottom: 0.94rem;
}

.shop-features img {
	width: 2rem;
	height: 2rem;
}

.hp-features img {
	width: 2rem;
	height: 2rem;
}

.img-text {
	display: block;
	width: 30rem;
	padding-left: 0.62rem;
	padding-top: 0.4rem;
}

.hp-button {
	width: 12rem;
	height: 3.68rem;
	margin-top: 1.5rem;
	background: #000;
	border: none;

	color: #F8F200;
	font-size: 1.125rem;
	font-weight: 700;
}

/* shop */
.shop {
	display: flex;
	height: 45rem;
}

.shop-left-block {
	width: 59rem;
	height: 45rem;
	background-image: url('./../img/shop/left-img.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.shop-right-block {
	width: 61rem;
	padding-left: 2rem;
	color: #FFF;
	background: #000;
}

.shop-title {
	margin-top: 4.38rem;
	font-size: 3.875rem;
	font-weight: 400;
	font-family: 'Archangelsk', sans-serif;
}

.shop-blue {
	margin-top: 1.56rem;
	margin-bottom: 1.31rem;
	color: #52BEDC;
	font-size: 1.5rem;
	font-weight: 700;
}

.shop-features {
	display: flex;
	justify-content: start;
}

.platform {
	padding-top: 3rem;
}

.block-platform {
	display: grid;
	grid-template-columns: 3.875rem 11.125rem;
	grid-template-rows: auto;
	margin-top: 1.55rem;
	gap: 3rem 5rem;
}

.pc {
	width: 3.875rem;
	height: 2.19925rem;
}

.xbox {
	width: 11.125rem;
	height: 2.19925rem;
}

.stadia {
	width: 3.625rem;
	height: 3.14175rem;
}

.ps4 {
	width: 10.50006rem;
	height: 2.19925rem;
}

/* footer */
.footer {
	display: flex;
	justify-content: space-between;
	margin: 0.81rem 20rem;
}

.footer-logo,
.privacy {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.footer-logo-cyber {
	width: 18.5rem;
	height: 4.625rem;
}

.footer-logo-cd {
	width: 10.75313rem;
	height: 4.625rem;
}

.copy {
	width: 120rem;
	height: 2.5rem;
	padding: 0.81rem 0;
	background: #000;
}

.copy p {
	color: #FFF;
	text-align: center;
	font-size: 0.75rem;
	font-weight: 400;
}